// .websites:hover ~ .cursor1::after{
//     transition: 0.1s;
//     scale: 2;
//     mix-blend-mode: difference;
//     background-color: #fdfdfd;
// }

.portfolio_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5.5rem;
}
.portfolio_item{
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    border-color: var(--color-primary-variant);
    background: transparent;
}
.portfolio_item:hover{
    background: rgba(38, 112, 173, 0.589);

}

.portfolio_item-image{
    border-radius: 1rem;
    overflow: hidden;
}
.portfolio_item h3{
    margin: 1.2rem 0 2rem;
}
.portfolio_item-cta{
    width: max-content;
     display: flex;
     gap: 1rem;
     margin: 0 auto;
}

    
*{
    // border: 1px solid red;
}  

/*=============Media Query (Tablet)=========*/


@media screen and (max-width:1024px) {
    .portfolio_container{
        width: 70%;
        grid-template-columns: 1fr;
        gap: 2.2rem;
    }
}

/*=============Media Query (Mobiles)=========*/

@media screen and (max-width:600px) {
  .portfolio_container{
    width: 85%;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

}