header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}


/*======CTA=======*/
.dwn{
margin-top: 2.5rem;
display: flex;
gap: 1.2rem;
justify-content: center;
}

/*======ME=======*/

.me{
    // background: linear-gradient(transparent,var(--color-primary));
    width: 20rem;
    height: 22rem;
    position: relative;
    left: calc(50% - 10rem);
    margin-top: 4rem;
    border-radius: 2rem;
    overflow: hidden;
    padding: 2rem 0;
    background: linear-gradient(120deg,transparent, var(--color-primary), transparent);
    animation: gradientMovement 6s infinite ease-in-out;
    background-size: 250%;
    
}

@keyframes gradientMovement {
    0%{
        background-position:left;
    }50%{
        background-position: right;
    }
    100%{
        background-position:left;
    }
}

/*======Scroll-Down=======*/

.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}


/*======Media Query (Tablet)=======*/
@media screen and (max-width:1024px) {
    .header{
        height: 68vh;
    }
}
/*======Media Query (Mobile)=======*/
@media screen and (max-width:600px) {
    *{
        // border: 1px solid red;
    }
    header{
        height: 120vh;

}
.header_container{
}

    .me{

    }
    .scroll_down{
        display: none;
    }
}